.image-page-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.image-page-box {
    /* border: 1px solid red; */
    display: flex;
    overflow-x: visible;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .image-page-box {
        /* border: 1px solid red; */
        display: flex;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
    }
}

.image-page-img {
    width: 28%;
    height: fit-content;
    margin: 0 15vw;
}

@media screen and (max-width: 768px) {
    .image-page-img {
        width: 50%;
        height: 50vh;
        margin: 0 15vw;
    }
}

@media screen and (max-width: 650px) {
    .image-page-img {
        width: 40%;
        height: 40vh;
        margin: 0 15vw;
    }
}

@media screen and (max-width: 550px) {
    .image-page-img {
        width: 45%;
        height: 45vh;
        margin: 0 15vw;
    }
}

@media screen and (max-width: 450px) {
    .image-page-img {
        width: 75%;
        height: 50vh;
        margin: 0 15vw;
    }
}

@media screen and (max-width: 350px) {
    .image-page-img {
        width: 80%;
        height: 50vh;
        margin: 0 15vw;
    }
}

@media screen and (max-width: 300px) {
    .image-page-img {
        width: 90%;
        height: 50vh;
        margin: 0 15vw;
    }
}

.icon-box {
    position: fixed;
    /* border: 1px solid red; */
    width: 3rem;
    height: 3rem;
    bottom: 3%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.icon {
    font-size: 2.5rem;
    cursor: pointer;
}

.big-button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    margin: auto 0;
    position: relative;
}

.next-loader {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    z-index: 30;
}

.circle {
    display: flex;
}

@media screen and (max-width: 1023px) {
    .circle {
        display: none;
    }

    .icon-box {
        display: none;
    }

    .big-button-box {
        display: none; 
    }
}

.arrow-box-imagepage {
    position: absolute;
    top: 2%;
    left: 2%;
    width: max-content;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #777777;
    z-index: 2;
}

.arrow-box-imagepage-small {
    position: absolute;
    top: 2%;
    left: 2%;
    width: max-content;
    height: 5rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #777777;
    z-index: 2;
}

.arrow-right-up-box {
    position: absolute;
    top: 0%;
    right: 1%;
    width: max-content;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .arrow-box-imagepage {
        position: absolute;
        top: 2%;
        left: 2%;
        width: max-content;
        height: 5rem;
        display: none;
        justify-content: space-between;
        align-items: center;
        background-color: #777777;
        z-index: 2;
    }

    .arrow-box-imagepage-small {
        position: absolute;
        top: 15%;
        left: 2%;
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #777777;
        z-index: 2;
    }

    .arrow-right-up-box {
        position: absolute;
        top: 13%;
        right: 1%;
        width: max-content;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        cursor: pointer;
        z-index: 2;
    }
    
}

.arrow-left-imagepage {
    cursor: pointer;
}