body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Viaoda Libre', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: 'Viaoda Libre', cursive;
}
